html {
	font-size: 1px;
}
body {
	padding-top: 120px;
	font-family: 'Open Sans';
	.font-size(24);
	color: @blue;
}

img {
	max-width: 100%;
}

// Basic Content Styling
#content {
	h1 {
		font-family: 'Roboto Slab';
	}
	h2, h3, h4, h5, h6 {
		font-family: 'Open Sans';
	}
	h2 {
		font-weight: 600;
	}
	h1, h3, h5 {
		font-weight: 700;
	}
	h4, h6 {
		font-weight: 400;
	}
	h1, h3 {
		text-transform: uppercase;
	}
	h1, h3, h5, h6 {
		color: @blue;
	}
	h2, h4 {
		color: @gray;
	}

	h1 {
		.font-size(40);
	}
	h2, h4 {
		.font-size(30);
	}
	h3, h5, h6, p {
		.font-size(24);
	}
	a {
		//text-decoration: underline;
	}

	.btn {
		margin-bottom: 6px;
		margin-bottom: 6rem;
		.font-size(24);
	}

}


.navbar-inverse {
	background: @gray-lighter url(../img/header-blue-sm.png)  0 32px repeat-x;
}
.flexible-container {
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    iframe, object, embed, .click-here {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
    }
    .click-here {
    	background: rgba(0,0,0,.75);
    	margin-top: 0;
    	color: #fff;
		text-align: center;
		padding-top: 30%;
		cursor: pointer;
    }
}
.full-width-nav {
	display:none;
	background: rgba(red(@blue),green(@blue),blue(@blue), .85);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1032;
	.closeMenu {
		float:none;
		width: 100%;
		height: 40px;
		height: 40rem;
		opacity: 1;
		color: #fff;
		text-align: right;
		display: block;
		z-index: 1100;
		.fa {
			position: relative;
			right: 50px;
			right: 50rem;
			top: 15px;
			top: 15rem;
			.font-size(70);
		}
	}
	.navigation {
		.navbar-nav {
			li {
				a {
					text-align: center;
					color: #fff;
					.font-size(70);
					.padding(25,0);
					font-weight: 300;
					&:hover {
						background-color: transparent;
					}
					&.signup {
						color: @orange;
					}
				}
			}
		}
	}
}
.container {
	.navbar-header {
		.navbar-brand {
			text-indent: -9999px;
			background: url(../img/gsl-logo.png) 0 10px no-repeat;
			width: 166px;
			height: 110px;
			-webkit-background-size: contain;
			background-size: contain;
		}
	}
	.navbar-nav>li>a {
		.font-size(22);
		text-decoration: none;
		&:hover {
			color: #009FFF !important;
		}
	}
	.navbar-toggle {
		top: 31px;
		border: none;
		i {
			color: #fff;
			.font-size(40);
		}
	}
	.navbar-collapse {
		position: absolute;
		left: -9999px;
	}
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background: @blue-light;
}
.score-scroller {
	.clearfix;
	margin-bottom: 15px;
	margin-bottom: 15rem;
}
.jcarousel-control-prev, .jcarousel-control-next {
	float: left;
	display: block;
	background: @blue;
	color: #fff;
	.font-size(60);
	//.padding(0,28);
	width: 8%;
	text-align: center;
	position: relative;
	.fa {
		position: absolute;
	}
}
.jcarousel-control-prev {
	margin-right: 1%;
}
.jcarousel-control-next {
	float: right;
	margin-left: 1%;
}
.jcarousel {
    position: relative;
    overflow: hidden;
    float: left;
    width: 82%;
    ul {
	    width: 20000em;
	    position: relative;

	    /* Optional, required in this case since it's a <ul> element */
	    list-style: none;
	    margin: 0;
	    padding: 0;
	    li {
	    	float: left;
	    	background: @blue-lighter;
	    	color: #fff;
	    	font-weight: bold;
	    	margin-right: 10px;
	    	margin-right: 10rem;
	    	.score-head {
	    		.clearfix;
				background:@blue-light;
				.font-size(22);
				.match {
					float: left;
					.padding(0,25);

					a{
						color:#fff;
					}

					a:hover {
						text-decoration:none;
					}
				}
				.division {
					float: right;
					.padding(0,25);

					a{
						color:#fff;
					}

					a:hover {
						text-decoration:none;
					}
				}
	    	}
	    	.score-body {
	    		font-weight: normal;
	    		.font-size(24);
	    		.padding(5px,25);
	    		.date-location {
	    			float: left;
	    			font-size:15px;
	    			height:4em;
	    			.clearfix();
	    			.padding(5px,0px);

	    		}
	    		.final-score {
	    			font-weight: bold;
	    			.font-size(33);
	    			padding-top:4px;
	    			color: @blue;
	    			float: right;
	    			line-height:1.1em;
	    		}
	    	}
	    }
	}
}


.contact-header {
	margin-bottom: 2px;
	margin-bottom: 2rem;
}
.sub-photos {
	margin-top: 30px;
	margin-top: 30rem;
}
.newsTitle {
	color: #fff;
	.font-size(40);
	text-align: left;
	background: @blue;
	text-transform: uppercase;
	font-family: 'Roboto Slab';
	.padding(24,35);
	margin-bottom: 6px;
	margin-bottom: 6rem;
}
#content .mobile-expand-list {
	h3 {
		color: #fff;
		text-transform: uppercase;
		background: @blue;
		.padding(23,52);
		margin-bottom: 0;
	}
	ul {
		padding-left: 0;
		list-style: none;
		li {
			&:nth-child(even) {
				background: @gray-light;
			}
			&.active {
				background-color: @blue-royal;
				a {
					color: #fff;
				}
			}
			&:hover {
				background-color: @blue-royal;
				a {
					color: #fff;
				}
			}
			> a {
				.padding(45,52);
			}
			a {
				color: @gray;
				text-decoration: none;
				.font-size(30);
				font-weight: 600;
				display: block;
				position: relative;
				 i {
				 	position: absolute;
				 	right: 20px;
				 	display: block;
				 }
			}
			ul {
				display: none;
				background-color: @blue-royal;
				li {
					margin: 0 52px;
					&:first-child {
						border-top: 1px dashed #fff;
					}
					h5 {
						text-transform: uppercase;
						color: @blue;
						.font-size(24);
						font-weight: 700;
						margin-bottom: 0;
					}
					h6 {
						color: #fff;
						.font-size(30);
						font-weight: 600;
						padding-bottom: 24px;
						padding-bottom: 24rem;
						margin-top: 16px;
						margin-top: 16rem;
					}
					h6:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
.form-control {
	.font-size(28);
	height: 32px;
	height: 55rem;
}
.selectbox {
	margin-bottom: 20px;
	margin-bottom: 20rem;
}
.chosen-container {
	.font-size(28);
	width: 100% !important;
	.chosen-single {
		height: 32px;
		height: 55rem;
		line-height: 45rem;
		text-decoration: none;
		span {
			height: 32px;
			height: 55rem;
			padding-top: 3px;
			padding-top: 3rem;
		}
		div {
			top: 6px;
		}
	}
	.chosen-results li {
		.padding(12,6);
	}
}
form {
	.font-size(28);
	p {
		.font-size(28);
	}
	.btn {
		.font-size(28);
	}
	textarea.form-control {
		height: auto;
	}
	.btn-file {
	    position: relative;
	    overflow: hidden;
	}
	.btn-file input[type=file] {
	    position: absolute;
	    top: 0;
	    right: 0;
	    min-width: 100%;
	    min-height: 100%;
	    font-size: 999px;
	    text-align: right;
	    filter: alpha(opacity=0);
	    opacity: 0;
	    outline: none;
	    background: white;
	    cursor: inherit;
	    display: block;
	}
}
#content .team-standings {
	.team-header {
		background-color: @blue-light;
		position: relative;
		padding-bottom: 7px;
		padding-bottom: 7rem;
		.team-name-primary {
			color: @blue;
			text-transform: uppercase;
			border-top: 1px solid white;
			font-family: 'Roboto Slab';
			.font-size(80);
			margin: 0;
			position: relative;
			top: 7px;
			padding-left: 10px;
			padding-left: 10rem;
		}
		.team-name-secondary {
			text-transform: uppercase;
			font-family: 'Roboto Slab';
			color: #fff;
			margin: 0;
			.font-size(50);
			border-bottom: 0;
			position: relative;
			bottom: 0;
			padding-left: 10px;
			padding-left: 10rem;
			font-weight: normal;
		}
		.team-date {
			color: #fff;
			position: static;
			font-weight: normal;
			padding-left: 10px;
			padding-left: 10rem;
			border-bottom: 1px solid #fff;
			margin-bottom: 0;
		}
		table {
			//font-size: 12px;
		}
	}
	.stripe-pattern-one {
		border-collapse: collapse;
		a {
			color: @blue;
			text-decoration: none!important;
			font-weight: bold;
			&:hover {
				color: darken(@blue,15%);
			}
		}
		.dashed {
			height: 1px;
			border-bottom: 2px dashed #fff;
		}
		thead>tr>th {
			border-top: none;
			border-bottom: none;
		}
		thead>tr th {
			padding: 0;
		}
		thead {
			background:@blue-light;
			tr th {
				color: #fff;
				.padding(8,30);
			}
		}
		tbody {
			tr td {
				.padding(30);
				color: #fff;
				&:first-child {
					color: @blue;
				}
			}
		}
	}
	.stripe-pattern-one.table-striped>tbody>tr:nth-child(even)>td, .stripe-pattern-one.table-striped>tbody>tr:nth-child(even)>th {
		background: @blue-lighter;
	}
	&.alternate {
		.team-header {
			background-color: @gray;
		}
		.stripe-pattern-one.table-striped>tbody>tr:nth-child(even)>td, .stripe-pattern-one.table-striped>tbody>tr:nth-child(even)>th {
			background: @blue;
		}
		.stripe-pattern-one.table-striped>tbody>tr:nth-child(odd)>td, .stripe-pattern-one.table-striped>tbody>tr:nth-child(odd)>th {
			background: @gray;
		}
		.stripe-pattern-one {
			a {
				color: @gray-light;
				&:hover {
					color: darken(@gray-light,15%);
				}
			}
			thead {
				background:@gray;
			}
			tbody {
				tr td {
					&:first-child {
						color: @gray-dark;
					}
				}
			}
		}
	}
}
.alternating-table-container .stripe-pattern-one.table-striped>tbody>tr:nth-child(odd)>td, .alternating-table-container.stripe-pattern-one.table-striped>tbody>tr:nth-child(odd)>th {
	background: @gray-light;
}

.alternating-table-container .stripe-pattern-one.table-striped>tbody>tr:nth-child(odd)>td, .alternating-table-container.stripe-pattern-one.table-striped>tbody>tr:nth-child(odd)>th {
	background: @gray-light;
}

footer {
	background: @blue;
	padding-top: 50px;
	padding-top: 50rem;
	margin-top: 50px;
	margin-top: 50rem;
	.container {
		.logo {
			a {
				display: block;
				text-indent: -9999px;
				background: url(../img/gsl-logo.png) no-repeat;
				width: 150px;
				height: 110px;
				-webkit-background-size: contain;
				background-size: contain;
			}
		}
		ul {
			padding-left: 0;
			&.footer-links {
				li {
					list-style-type: none;
					a {
						color: @blue-lighter;
						text-transform: uppercase;
						text-decoration: none;
						font-weight: bold;
						.padding(30,0);
						display: block;
						position: relative;
						padding-left: 10px;
						padding-left: 10rem;
						i {
							color: #fff;
							float: right;
							position: absolute;
							right: 10px;
							right: 10rem;
						}
						&:hover {
							background: @blue-light;
							color: #fff;
						}
					}
				}
			}
		}
		.social {
			padding-top: 20px;
			padding-top: 20rem;
			ul {
				float: right;
				padding-left: 0;
				li:first-child {
					margin-left: 0;
				}
			}
			li {
				float: left;
				list-style: none;
				margin-left: 50px;
				margin-left: 50rem;
				a {
					color: #fff;
					i {
						.font-size(60);
					}
				}
			}
		}
	}
}
#main-footer {
	background: @blue-light;
	padding-top: 50px;
	padding-top: 50rem;
	color: #fff;
	p {
		text-align: center;
	}
	a {
		color: #fff;
		font-weight: bold;
		text-decoration: none;
	}
}

@media (max-width: 768px) { 
	html {
		font-size: .5px;
	}
	
}
@media (min-width: 500px) {
	
}
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
	html {
		font-size: .7px;
	}
	body {
		padding-top: 225px;
	}
	.container {
		.navbar-toggle {
			top: 81px;
		}
	}
	.navbar-inverse {
		background: @gray-lighter url(../img/header-blue.png)  0 65px repeat-x;
	}


	#content {
		.team-standings {
			.team-header {
				.team-name-secondary {
					border-bottom: 1px solid white;
				}
				.team-date {
					position: absolute;
					right:10px;
					bottom: -5px;
					border-bottom: none;
					margin-bottom: 17px;
					margin-bottom: 17rem;
				}
			}
		}
		.alternating-table-container {
			.stripe-pattern-one {
				border: 1px solid #eee;
				tbody {
					tr {
						td {
							.padding(30);
						}
					}
				}
			}
		}
	}
	.container {
		.navbar-header {
			.navbar-brand {
				text-indent: -9999px;
				background: url(../img/gsl-logo.png) 0 10px no-repeat;
				width: 332px;
				height: 205px;
			}
		}
		.navbar-collapse {
			.navbar-nav {
				padding-top: 105px;
				padding-top: 105rem;
				padding-left: 25px;
				padding-left: 25rem;
			}
		}
	}
}


@media(min-width: 500px) 
{
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

	.container {
		.navbar-collapse {
			position: relative;
			left: 0;
		}
	}

}

/*######################################################################
# Starting Jon’s Additions
######################################################################*/

// Search Field
.search-group {
	input.search {
		background: @gray-light;
	}
	button {
		height: 55rem;
		font-size: 17px !important;
	}

	@media (max-width: @screen-xs-max) {
	  button {
	  	font-size: 10px !important;
	  }
	}
}

@media (max-width: 400px) {
	#add-team-form th, #add-team-form td {
		padding:8px 4px !important;
	}

	.item {
		.content {
			height:50% !important;
		}
	}

	.weather {
		span {
			text-align:center !important;
			display:block;
		}

		img {
			margin:0px auto;
		}
	}
}

.datepicker {
    z-index: 9999;
}

// List Grey and White Alternating
.list-grey-alternating {
	list-style: none;
	padding: 0;

	li {
		
		a {
			text-decoration: none;
			display: block;
			color: @gray;
			padding: 20px 20px;

			i {
				float: right;
				padding-top: 5px;
			}
		}

		&:nth-child(odd) {
			background: @gray-light;
		}

		&:hover {
			background-color: @blue-royal;
			a {
				color: #fff;
			}
		}
	}
}

#map-overlay {
	position:relative;

	a {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		background-color:rgba(0,0,0,.65);
		color:#fff;
		text-decoration:none;
		text-align:center;
		padding-top:21%;
		font-size:15px;
		display:block;
		height:100%;
		text-transform:uppercase;
	}

	a:hover {
		background-color:rgba(0,0,0,.75);
	}

	.map_image {
		width:100%;
	}
}


.blog {
	.blog_post {
		border-bottom:2px solid darken(#fff,20);
		padding-bottom:35px;
	}

	.pagination {
		margin-top:40px;

		a, strong {
			background-color:#00284D;
			padding:8px;
			color:#fff;
		}

		strong, a:hover {
			background-color:#4DCDFF;
			text-decoration:none;
		}
	}

	.top_pagination {
		margin-top:40px;

		a, strong {
			background-color:#00284D;
			padding:8px;
			color:#fff;
		}

		strong, a:hover {
			background-color:#4DCDFF;
			text-decoration:none;
		}
	}
}


.post {
	.date {
		margin-top:35px;
		font-weight:bold;
	}
}

input[type="file"] {
    height: 40px;
    padding-bottom: 50px;
    padding-top: 10px;
    border:0px;
    box-shadow:none;
}


.main_photo {
	position:relative;
	.team_logo {
		margin-top:30px;
		position:absolute;
		bottom:0;
		left:0;
		height:20%;
		width:100%;
		background-color:rgba(0,0,0,.45);

		img {
			max-width:20%;
			max-height:100%;
			padding:15px;
		}
	}

	a > img  {
		width:100%;
	}
}

#roster .editModal {
    float: left;
    margin-right: 5px;
}


.team_edit {

	#ajaxButton {
		margin-top:12px;
		margin-bottom:12px;
	}

	h1 {
		margin-bottom:20px;
	}

	.team_logo {
		max-width:90px;
		margin-top:25px;
	}

	.view_page {
		margin-top:25px;
	}

}

#add-team-form {
	padding:0 !important;
	table {
		input {
			width:3em;
		}
	}
}

.shadow-success {
-webkit-box-shadow: 0px 0px 10px 0px rgba(95, 255, 54, 0.75);
-moz-box-shadow:    0px 0px 10px 0px rgba(95, 255, 54, 0.75);
box-shadow:         0px 0px 10px 0px rgba(95, 255, 54, 0.75);
}


.shadow-failure {
-webkit-box-shadow: 0px 0px 10px 0px rgba(236, 18, 18, 0.75);
-moz-box-shadow:    0px 0px 10px 0px rgba(236, 18, 18, 0.75);
box-shadow:         0px 0px 10px 0px rgba(236, 18, 18, 0.75);
-webkit-transition: all 0.9s ease;
-moz-transition: all 0.9s ease;
-o-transition: all 0.9s ease;
transition: all 0.9s ease;
}

.shadow-remove {
-webkit-box-shadow: none !important;
-moz-box-shadow:    none !important;
box-shadow:         none !important;
-webkit-transition: all 0.9s ease;
-moz-transition: all 0.9s ease;
-o-transition: all 0.9s ease;
transition: all 0.9s ease;	
}



.radio {
	label {
		margin-right:15px;
	}
}

.nav-tabs {
	margin-bottom:15px;
	margin-top:13px;
}

.viewMorePhotos {
	display:block;
	height:90px;
	background-color:grey;
	text-align:center;
	padding-top:30%;
	padding-bottom:40%;
	color:#fff;
	text-decoration:none;
}

.viewMorePhotos:hover{
	color:darken(#fff,10);
	text-decoration:none;
}

.roster-table {
	a {
		color:darken(@gray,20);
	}
}

.team-champions {

	margin-bottom:30px;

	.team-title {
		background-color:#0E294C;
		color:#fff;

		h4 {
			padding:10px;
			margin:0;
			color:#fff !important;

			a {
				color:#fff;
			}

			a:hover {
				text-decoration:none;
			}
		}
	}

	.team-name-primary {
		font-size:50rem !important;
	}

	.team-name-secondary {
		font-size:32rem !important;
	}

	img {
		width:100%;
	}

}

.division {

	.team-standings {
		margin-top:30px;
	}

	h3 {
		span {
			font-size:15px;
			color:#fff;
			padding:15px;
			font-weight:300;
		}
	}

	.headline-image
	{
		position:relative;

		img {
			width:100%;
		}

		.headline-text {
			position:absolute;
			bottom:0;
			left:0;
			width:100%;
			display:block;
			height:15%;
			background-color:rgba(0,0,0,.4);
			color:#fff;
			padding-top:3%;

			span {
				padding-left:20px;
			}
		}
	}

}

.sortable-table tbody tr:first-child td {
    border: medium none;
}

.sortable-table thead th:after {
	content:'\f0d8 ';
	font-family:FontAwesome;
	padding-left:5px;
}

.sortable-table thead .headerSortDown:after {
	content:'\f0d7 ';
	font-family:FontAwesome;
}

.sortable-table thead tr:last-child th:after {
	content:'';
}

.sortable-table thead tr:last-child th {
    height: 2px !important;
    line-height: 1em;
    padding: 0 !important;
}


.item {
	position:relative;

	.content {
		position:absolute;
		bottom:0;
		left:0;
		display:block;
		width:100%;
		background-color:rgba(0,0,0,.4);
		padding-left:20px;
		color:#fff;
		height:35%;

		h3 {
			color:#fff !important;
			margin-bottom:10px;
			margin-top:20px;
		}
	}
}

#carousel-head-show {
	margin-top:30px;
	margin-bottom:50px;
}

.carousel-indicators {
	bottom:-10px !important;
	left:6%;
}

.division_headline {
	position:relative;
	.content {
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		display:block;
		height:20%;
		background-color:rgba(0,0,0,.4);
		padding-left:20px;
		padding-top:2%;
		color:#fff;
	}
}

.weather {
	background: none repeat scroll 0 0 #f0f1f1;
	padding:20px 15px;
	color:#000;
	margin-bottom:30px;
	margin-top:20px;

	.city {
		font-size:17px;
		text-align:left;
		font-weight:600;
		margin-bottom:8px;
	}

	.date {
		font-size:20px;
		margin-top:5px;
		text-align:center;
		display:block;
		margin:0px auto;
		margin-bottom:15px;
		color:#929497;
		display: block;
	    font-family: "Open Sans";
	    font-weight: 600;
	}

	span {
		color:#000;
		width:100%;
		display:block;
	}

	h3 {
		font-size:22px;
		margin-top:5px;
		text-align:center;
		display:block;
		margin:0px auto;
		margin-bottom:15px;
		color:@blue;
		display: block;
	    font-family: "Open Sans";
	    font-weight: 700;
	    margin-bottom:0px;
	}

	.condition {
		text-align:left;
		cont-size:14px;
		margin-top:7px;
		display:block;
	}

	img {
		display:block;
		width:50px;
		margin-top:0px;
	}

	.temp {
		font-size:21px;
		text-align:right;
		font-weight:600;
	}

	.wind {
		font-size:15px;
		text-align:right;
	}

	.direction {
		font-size:11px;
		text-align:right;

	}
}

.navbar-header {
    float: left;
    position: relative;
    z-index: 99999;
}


