/*Hex Colors:
#102a4d - DARK BLUE
#009fff - LIGHT BLUE
#80dbff - SKY BLUE
#00529e - ROYAL BLUE
#929497 - DARK GREY
#ff4800 - ORANGE*/
@white: #ffffff;
@blue: #102a4d;
@blue-light: #009fff;
@blue-lighter: #4dcdff;
@blue-royal: #00529e;
@gray: #929497;
@gray-light: #f0f1f1;
@gray-lighter: #e6e6e6;
@orange: #ff4800;
@brand-primary: @orange;
@font-size-base: 24px;
@btn-primary-bg:                 #1D3E7B;
@btn-success-bg:                 #9BC200;
@btn-info-bg:                    #3A79B1;
@btn-warning-bg:                 @orange;
@navbar-default-color:             #777;
@navbar-default-bg:                @gray-lighter;
@navbar-inverse-bg: 				@gray-lighter;
@navbar-padding-vertical: 27px;
@nav-link-padding:                          10px 13px;
@grid-float-breakpoint:     @screen-lg;

//** Default background color used for all tables.
@table-bg:                      transparent;
//** Background color used for `.table-striped`.
@table-bg-accent:               @blue-light;
@input-color-placeholder:        @gray;